<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle de cita</h1>
    <ul>
        <li> fecha: {{pac.fecha}} </li>
        <li> paciente_id: {{pac.paciente_id}} </li>
        <li> medico_id: {{pac.medico_id}} </li>
        <li> Consultorio_id: {{pac.Consultorio_id}} </li>
        <li> valor: {{pac.valor}} </li>
        


    </ul>
    
</body>
</html>